.outContainer {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-top: 30px;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.section h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 175%;
  color: #27282d;
  margin-bottom: 20px;
  text-align: left;
}

.section input {
  color: #868c94;
  flex: 2;
  max-width: 100%;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--gray-scale-gray-400, #dcdfe3);
  background: var(--gray-scale-white, #fff);
}

.section label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--gray-scale-gray-800, #4d5359);
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.profileContainer {
  display: flex;

  gap: 130px;
}

.skillFieldsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.profileImage {
  border: 0;
  width: 160px;
  height: 160px;
  max-width: 160px;
  max-height: 160px;
  border-radius: 10px;
}

.subcontainer {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  gap: 24px;
}

.subcontainer2 {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  align-items: flex-start;
  gap: 20px;
}

.rowContainer {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.portfolio,
.skill {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.fileUpload {
  display: flex;
  margin-top: 10px;
}

.fileInput {
  display: none;
}

.customFileBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.filePreview {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filePreview span {
  margin-right: 10px;
}

.filePreview button {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.customFileBtn:hover {
  background-color: #45a049;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.inputFieldContainer {
  width: 100%;
  display: flex;
  gap: 30px;
}

.inputcontainer h3 {
  padding-top: 10px;
  color: #4d5359;
  flex: 0 0 auto;
  margin-right: 18px;
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  text-align: left;
}

.inputcontainer input {
  color: #868c94;
  flex: 2;
  max-width: 100%;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--gray-scale-gray-400, #dcdfe3);
  background: var(--gray-scale-white, #fff);
}

.inputcontainer select {
  color: #868c94;
  flex: 2;
  justify-content: left;
  width: 50%;
  font-size: 16px;
  border: 1px solid var(--gray-scale-gray-400, #dcdfe3);
  background: var(--gray-scale-white, #fff);
}

.inputcontainer {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.input,
.select {
  width: 100%;
  padding: 16px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  font-size: 16px;
}

.spanBack {
  margin-left: 8px;
  margin-top: 16.5px;
  color: #868c94;
  font-size: 16px;
  font-weight: 500;
}

.removeButtonContainer {
  text-align: right;
  margin-bottom: 10px;
}

.removeButton {
  background-color: transparent;
  color: #1b78ff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.removeButton:hover {
  color: #d9363e;
}

.removeButton:disabled {
  color: #a0a0a0;
  cursor: not-allowed;
}

.thumbnailImage {
  border: 0;
  min-width: 160px;
  min-height: 160px;
  max-width: 380px;
  max-height: 206px;
  border-radius: 10px;
}

.fileButton {
  width: 86%;
  padding: 10px 42px;
  background-color: #fff;
  color: #1b78ff;
  border-radius: 6px;
  border: 1px solid #b5d3ff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.addButton {
  width: 100%;
  display: flex;
  height: 46px;
  padding: 10px 42px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #b5d3ff;
  color: #1b78ff;
  background: #fff;
  gap: 8px;
  transition: background-color 0.4s ease, color 0.4s ease;
}
