.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;

  footer > div {
    width: 85%;
  }
}

.container {
  display: flex;
  width: 85%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.subcontainer {
  font-size: 32px;
  text-align: left;
}

.subcontainer h2 {
  color: #27282d;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

.subcontainer span {
  color: #1b78ff;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}

.creatorContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.thumbnailCard {
  aspect-ratio: 383/270;
}

.logoImg {
  width: 80px;
  height: 80px;
}

.filters {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.filters > * {
  margin-right: 20px;
}

.filters > *:last-child {
  margin-right: 0;
}
