.pageWrapper {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div:first-child {
    width: 61.46%;
  }
}

.timeLine {
  margin-top: 40px;
  width: 100%;
  aspect-ratio: 1180/600;
  overflow: scroll;
}

.timeLine::-webkit-scrollbar {
  display: flex;
  width: 6px; /* 세로 스크롤바의 너비 */
  height: 6px; /* 가로 스크롤바의 높이 */
}

.timeLine::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* 스크롤바 색상 */
  border-radius: 10px; /* 둥근 모서리 */
}

.toolTip {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7px;
  }

  & > span:first-child {
    font-size: 14px;
    font-weight: bold;
    line-height: 175%;
    margin-bottom: 2px;
  }

  div span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: var(--grayscale-600);
    width: 75%;
    overflow-wrap: break-word; /* 긴 단어 줄바꿈 */
    word-wrap: break-word;
  }

  div:last-child {
    margin-top: 4px;
  }
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 60px;

  button {
    aspect-ratio: 252/46;
    border-radius: 6px;
    color: white;
    width: 200px;
    font-size: 14px;
    background-color: var(--primary);
    font-weight: bold;
  }
}
